:root {
  --primary-main-color-: #073a21;
  --primary-color: #bf9e73;
  --secondary-main-color: #009245;
  --secondary-color: #bfaf9986;
  --background-color: #bf9e731d;
  --other-color: #000;
}

main {
  padding: 0 25px;
  margin-bottom: 20px;
}

.descriptionCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

.descriptionCard img,
.partnersImg {
  max-width: 100%;
  height: auto;
}

.descriptionCard h2 {
  color: #073a21;
}

.mainTitle {
  text-align: center;
}

.linkWrapper {
  margin-bottom: 30px;
}

.linkWrapper a {
  text-align: left;
  font-size: smaller;
  color: #000;
}

.subtitle {
  color: #009245;
}

@media screen and (min-width: 1280px) {
  .descriptionCard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 120px);
    margin-bottom: 50px;
    padding: auto 50px;
  }

  .descriptionCard img {
    grid-area: 1 / 1 / 4 / 5;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .descriptionCard h2 {
    grid-area: 1 /5 /2 /9;
    padding-left: 30px;
    margin-top: 0px;
    padding-top: 0px;
  }

  .descriptionCard p {
    grid-area: 2/5/2/9;
    align-self: flex-start;
    padding-left: 30px;
    margin: 0px;
  }

  .partnersImgWrapper {
    width: 50vw;
    margin: auto;
  }
}

.menuButtonWrapper a button:hover {
  cursor: pointer;
  background-color: white;
  color: var(--secondary-main-color);
  box-shadow: var(--primary-main-color-) 0px 0px 3px 2px;
  transition-duration: 500ms;
}
