/* General */

:root {
  --primary-main-color-: #073a21;
  --primary-color: #c69c6d;
  --secondary-main-color: #009245;
  --secondary-color: #d9c5ab;
  --background-color: #bf9e73;
  --other-color: #000;
}

html,
body {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins";
  font-size: 19px;
  overflow-x: hidden;
}

li {
  list-style-type: none;
}
button {
  background-color: var(--secondary-main-color);
  border: none;
  padding: 5px;
  color: white;
}
/* Header */

header {
  height: 100%;
  width: 100vw;
}

.mobileNav {
  display: flex;
  background-color: var(--secondary-color);
  height: 66px;
  justify-content: space-between;
  align-items: center;
  padding: 2px 0px;
}

img {
  height: 75%;
  width: auto;
  object-fit: contain;
}

.brandIcon {
  height: 100%;
  width: 100%;
}
.mobileMenu {
  width: 320px;
  background-color: var(--secondary-main-color);
  height: 100vh;
  position: absolute;
  top: 0px;
  display: none;
}

.mobileMenu a {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  margin-bottom: 28px;
}

.mobileMenu ul {
  margin-left: 50px;
  padding-left: 0px;
  margin-top: 40px;
}

.closeIcon {
  width: 49px;
  height: 49px;
  margin-top: 15px;
  margin-left: 15px;
}

.mobileMenuIcon {
  height: 35px;
  margin-right: 5px;
}

/* footer */
footer {
  background-color: var(--secondary-color);
  padding: 10px;
}

.footerLogoWrapper {
  display: flex;
  justify-content: center;
}

.footerLogoWrapperText {
  font-size: 12px;
  margin: 0px;
}

.newsletterWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 25px;
}

.newsletterWrapper input {
  width: 150px;
}

.socialLogo {
  width: 20px;
  height: 20px;
}

.footerTitle {
  font-size: 14px;
  font-weight: 600;
  color: var(--primary-main-color-);
}

.footerBottom {
  display: flex;
  width: 100%;
  font-size: 12px;
  justify-content: space-between;
  flex-direction: column;
}
.footerBottom a {
  text-decoration: none;
  color: #000;
}

.footerBottom ul {
  padding: 0px;
}

.footerBottom li {
  margin: 8px 0px;
}

.footerContactIcon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.footerContactItem {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerBottomItem {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}
