@font-face {
  font-family: "Poppins";
  src: url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
  font-weight: medium;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
  font-weight: bolder;
  font-display: swap;
}

/* General */

:root {
  --primary-main-color: #073a21;
  --primary-color: #bf9e73;
  --secondary-main-color: #009245;
  --secondary-color: #bfaf9986;
  --background-color: #bf9e731d;
  --other-color: #000;
  --desktop-breakpoint: 1280px;
  --desktop-header-height: 80px;
}

html,
body {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  font-size: 19px;
  overflow-x: hidden;
  background-color: var(--background-color);
}

li {
  list-style-type: none;
}

button {
  background-color: var(--primary-main-color);
  border: none;
  padding: 5px 8px;
  color: white;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

/* Header */

header {
  height: 100%;
  width: 100vw;
}

.headerNav {
  display: flex;
  background-color: var(--secondary-color);
  height: 66px;
  justify-content: space-between;
  align-items: center;
}

.searchWrapper {
  height: 100%;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 30px;
}

.searchWrapper img {
  display: none;
}

.searchInput {
  display: none;
  height: 35px;
  width: 350px;
  background-color: var(--secondary-color);
  font-size: 14px;
}

.desktopNav {
  display: none;
}

.desktopNav ul {
  display: flex;
  padding-left: 8px;
}

.desktopNav ul li a {
  text-decoration: none;
  margin-right: 20px;
  color: black;
  text-transform: uppercase;
}

.burgerIcon {
  padding-right: 30px;
}

.burgerIconCheckbox {
  z-index: 50;
  opacity: 0;
  position: absolute;
  height: 50px;
  width: 50px;
}

#active {
  color: var(--primary-main-color);
  border-bottom: #073a21 solid 2px;
}

img {
  height: 75%;
}

.brandIcon {
  height: 65%;
  width: 5em;
  align-items: center;
}

.brandIconDesktop {
  display: none;
}

.mobileMenu {
  width: 390px;
  background-color: var(--primary-main-color);
  height: 100vh;
  position: absolute;
  top: 0px;
  z-index: 30;
  transform: translateX(-150%);
  transition-duration: 250ms;
}

.headerNav input[type="checkbox"]:checked ~ .mobileMenu {
  display: initial;
  transform: translateX(0);
  transition: ease-in-out;
  transition-duration: 500ms;
}

.mobileMenu a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  margin-bottom: 28px;
}

.mobileMenu ul {
  margin-left: 50px;
  padding-left: 0px;
  margin-top: 40px;
}

.closeIcon {
  width: 49px;
  height: 49px;
  margin-top: 15px;
  margin-left: 15px;
  filter: invert(1);
}

.mobileMenuIcon {
  height: 35px;
  margin-right: 10px;
  filter: invert(1);
}

/* footer */
footer {
  background-color: var(--secondary-color);
  padding: 10px;
}

.footerLogoWrapper {
  display: flex;
  justify-content: center;
}

.footerLogoWrapperText {
  font-size: 16px;
  margin: 0px;
  margin-bottom: 10px;
  text-align: center;
}

.newsletterWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  margin-top: 15px;
}

.newsletterWrapper input {
  width: 150px;
  height: 25px;
}

.social {
  margin-top: 25px;
}
.social h4 {
  text-align: center;
  color: black;
}

.socialLogoWrapper {
  display: flex;
  justify-content: space-evenly;
  width: 50vw;
  margin: 0px auto;
}
.socialLogo {
  width: 35px;
  height: 35px;
}

.footerTitle {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  color: var(--primary-main-color);
  text-align: center;
}

.footerBottom {
  display: flex;
  width: 100%;
  font-size: 18px;
  justify-content: space-between;
  flex-direction: column;
}
.footerBottom a {
  text-decoration: none;
  color: #000;
}

.footerBottom ul {
  padding: 0px;
}

.footerBottom li {
  margin: 8px 0px;
}

.footerContactIcon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.footerContactWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0px auto;
}

.footerContactItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.footerAddress {
  display: flex;
  flex-direction: column;
}

.footerAddress p {
  padding: 0px;
  margin: 0px;
  text-align: left;
}

.footerBottomItem {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

.footerLogoWrapperDesktop img {
  display: none;
}

/* desktop */

@media screen and (min-width: 1280px) {
  /* general */

  button {
    font-size: 16px;
  }

  /* header */

  .burgerIcon {
    display: none;
  }

  .mobileMenu {
    display: none;
  }

  .burgerIconCheckbox {
    display: none;
  }

  .desktopNav {
    display: initial;
    padding: 1.5em;
  }

  .headerNav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: var(--desktop-header-height);
    height: var(--desktop-header-height);
  }

  .headerNav .desktopNav {
    grid-area: 1 / 1 /2 /2;
  }

  .brandIconWrapper {
    text-align: center;
    height: 100%;
  }

  .brandIcon {
    display: none;
  }

  .brandIconDesktop {
    grid-area: 1 / 2 / 2 / 3;
    height: 100%;
    display: initial;
  }

  .searchWrapper {
    width: auto;
  }

  .searchInput {
    display: inline;
    border: none;
  }

  .searchWrapper img {
    display: initial;
    height: 35px;
    background-color: var(--secondary-color);
    padding: 1px 2px;
  }

  .footerBottomItem a button:hover {
    cursor: pointer;
    background-color: white;
    color: var(--secondary-main-color);
    box-shadow: var(--primary-main-color) 0px 0px 3px 2px;
    transition-duration: 500ms;
  }
  /* footer */

  .footerTitle {
    font-size: 25px;
    font-weight: bold;
  }

  .newsletterWrapper {
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
  }

  .newsletterWrapper input {
    width: 250px;
    font-family: "Poppins" sans-serif;
  }

  .footerBottomItem {
    font-size: 15px;
  }

  .footerBottom {
    flex-direction: row;
    justify-content: space-between;
  }
  .footerLogoWrapperText {
    font-size: 18px;
  }

  .neswletterText h3 {
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin-bottom: 1em;
  }

  .social {
    width: 150px;
    margin-top: 25px;
  }

  .footerLogoWrapperText {
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
  }

  .socialLogoWrapper {
    justify-content: space-around;
    width: auto;
  }

  .socialLogo {
    width: 30px;
    height: 30px;
  }

  .socialLogo .newsletterWrapper {
    text-align: center;
  }

  .footerContactWrapper {
    align-items: flex-start;
    width: fit-content;
    margin: 0px auto;
    text-align: left;
  }

  .footerContactItem {
    flex-direction: row;
    margin-bottom: 10px;
  }

  .footerContactItem img {
    margin-right: 10px;
  }
}

/* Homepage */
